@use "@stylistic";
@use "@test";

@include test() {
    @debug "test";
}

@function test() {
    @debug "test";
}

@mixin test {
    @debug "test";
}

$foo: "mg";
$bar: ();
$_foo: (
    "foo"
);
$_bar: (
    "foo": "bar",
);

.foo {
    background-color: darkcyan;
}

[target=_blank] {
}

a {
    margin: 1px 1px 1px 1px;
}
