@use "@stylistic";
@use "@test";

@include test () {
    @debug "test";
}

@function test() {
    @debug "test";
}

@mixin test {
    @debug "test";
}

$foo: "mg";
$bar: ();
$_foo: (
    "foo"
);
$_bar: (
    "foo": "bar",
);

.foo {
    background-color: darkcyan;
}
